<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<head>
<meta charset="UTF-8">
<title th:fragment="title_page">GRADOS</title>

</head>
<body>


	<h1 class="display-4" th:fragment="title_secction">GRADOS EXISTENTES</h1>

	<div th:fragment="content">
		<div>
			<form action="/grados" method="get" class="form-inline">
				<label>Buscar:</label>&nbsp; <input th:value="${buscar}"
					class="form-control" id="txtBuscar" name="txtBuscar" type="text" />
				&nbsp;
				<button type="submit" class="btn btn-primary">Buscar</button>
				&nbsp;
				<a th:href="@{/grado_ver}" class="btn btn-warning">Nuevo</a>
				&nbsp;
			</form>
		</div>
		<br />

		<table class="table table-hover table-dark">
			<thead>
				<tr>
					<th scope="row" style="width: 150px;">Action</th>
					<th scope="col">ID</th>
					<th scope="col">Grado</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="g: ${gradosList}">
					<td>
						<a th:href="@{/grado_ver?gradoId=} + ${g.gradoId}">Editar</a>
							&nbsp;|&nbsp;
						<a th:href="@{/grado_eliminar/} + ${g.gradoId}">Eliminar</a>
					</td>
					<td th:text="${g.gradoId}">1</td>
					<td th:text="${g.nombre}">Grado I</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<section th:fragment="scripts_page">
		<!-- sin scripts para grados -->
	</section>
	
</html>