<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="layout :: page">
<!-- se agrega este espacio de nombre para usar thymelead  xmlns:th="http://www.thymeleaf.org -->
<head>
<meta charset="UTF-8" />
<!-- con th : text = "$ { propieda pasada en el modelo}" accedemos al valor th:text="${title}"  -->
<title th:fragment="title_page">Home</title>

</head>
<body>

	<h1 class="display-4" th:fragment="title_secction">CRUD WITH SPRINT FRAMEWORK 5</h1>
	<div class="mycontainer" th:fragment="content">
		<ul>
			<li><a href="/grados">Save a new Grado</a></li>
			<li><a href="#">Grid with all</a></li>
		</ul>
	</div>
	
	<section th:fragment="scripts_page">
		<!-- sin scripts para home -->
	</section>
</body>
</html>