<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="page">
<!-- se agrega este espacio de nombre para usar thymelead  xmlns:th="http://www.thymeleaf.org -->

<head th:fragment="layout_head">
<meta charset="UTF-8" />
<!-- con th : text = "$ { propieda pasada en el modelo}" accedemos al valor th:text="${title}"  -->

<title th:include="this :: title_page">Layout</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="/css/bootstrap.min.css">
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
</head>

<body>

	<div class="container">
		<div class="row">
			<div class="col">
				<div class="jumbotron">
					<h1 class="display-4" th:include="this :: title_secction">TITLE</h1>
					<hr class="my-4">
					<div class="mycontainer" th:include="this :: content">
						CONTAINER
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer>
		<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"
			src="/js/bootstrap.min.js"></script>
		<script type="text/javascript" th:src="@{/js/popper.min.js}"
			src="/js/popper.min.js"></script>
	</footer>

</body>
</html>